
* {
	font-family: 'Quicksand', sans-serif;
	color: black;
}

body {
	background-color: #f8f6f0;
}

.btn {
	width: 250px;
	border-radius: 0;
	background-color: white;
	margin: 10px;
	color: black;
}

.btn:hover {
	background-color: lavender;
}

.jumbotron {
	background-color: #ffffff;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
}

#question {
	font-size: 24px;
}

.gifs {
	width: 200px;
	height: 200px;
}

#pictureHolder {
	/*margin-top: -60px;*/
}

.container-fluid {
	width: 600px;
	margin-top: 50px;
	padding-bottom: 20px;
}
